* {
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: "Tanugo糖果手写体-Light";
  src: url("/font/Tanugo-Light-2.otf");
}

@font-face {
  font-family: "思源黑体-ExtraLight";
  src: url("/font/AtCjEva13gyK.woff");
  src: url("/font/AtCjEva13gyK.woff2");
}

@font-face {
  font-family: "思源黑体-Normal";
  src: url("/font/VNKcXd9B7BWj.woff");
  src: url("/font/VNKcXd9B7BWj.woff2");
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #ffb11f;
}